.header {
    padding-top: 90rem;

    @media (max-width: $media-991) {
        padding-top: 40rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $media-991) {
            position: relative;
        }
    }

    &__nav {
        display: flex;
        gap: 50rem;

        @media (max-width: $media-991) {
            display: none;
            position: absolute;
            top: 90rem;
            left: 0;

            background-color: var(--common-white);
            width: 100%;
            height: 100vh;
            flex-direction: column;

            align-items: center;
        }
    }

    &__nav-input {
        display: none;

        &:checked~.header__nav {
            display: flex;

        }

        &:checked~.header__leabel {
            &::after {
                content: 'X';
            }
        }
    }

    &__leabel {
        display: none;

        @media (max-width: $media-991) {
            display: flex;

            &::after {
                content: '=';
            }
        }
    }

    &__nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font: var(--Heading-H8);
        color: inherit;
        letter-spacing: 3.9rem;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 0;
            margin: 0 auto;
            background-color: transparent;
            transition: all 0.5s;
        }

        &:hover {
            &::after {
                width: 70%;
                background-color: var(--Base-Black);
            }
        }
    }

    &__nav-link--active {
        &::after {
            width: 70%;
            background-color: var(--Base-Black);
        }

        @media (max-width: $media-991) {
            &::after {
                display: none;
            }
        }
    }
}