html {
    font-size: 1px;
}

body {
    font: var(--text-font);
    color: var(--Base-Black);
}

.wrapper {

    @media (max-width: $media-991) {
        overflow: hidden;
    }
}

.container {
    max-width: 1120rem;
    margin: 0 auto;
    padding: 0 16rem;
}